@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&display=swap');

html {
  font-family: 'Work Sans';
  font-weight: 400;
}

body button,
body input,
body select,
body textarea {
  font-family: 'Work Sans';
}
@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}
@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
//raise and round buttons

.btn {
  border-radius: 50px;
  @include boxShadow;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid $primary;
  padding: 10px;
  font-weight: 600;
  outline: none;
  width: auto;
  color: $primary;
}

.btn:hover {
  border: 2px solid $tertiary;
  color: $tertiary;
  background-color: rgba(255, 255, 255, 0);
}

.btn-primary .d-icon {
  color: $primary;
}

.discourse-no-touch .btn-primary.btn-hover .d-icon,
.discourse-no-touch .btn-primary:hover .d-icon {
  color: $primary;
}

.discourse-no-touch .btn.btn-hover svg,
.discourse-no-touch .btn:hover svg {
  color: $primary;
  fill: $primary;
}

.bootbox.modal .modal-footer a.btn-primary {
  color: $primary;
}
//remove shadow from a few buttons
#login-link,
#new-account-link,
#revision .btn,
.badge-section .btn,
.bulk-clear-all,
.bulk-select-all,
.d-editor-button-bar .btn,
.period-chooser-header,
.topic-map .btn.no-text {
  border-radius: 0;
  box-shadow: none;
}

#banner-content_wrap {
  display: none;
}

.navigation-categories #banner-content_wrap {
  display: block;
}

.select-kit.is-expanded .select-kit-collection {
  width: 17em;
}

.modal-header .modal-close {
  padding-left: 0 !important;
  margin-left: 1em;
}

.custom-footer .list span {
  font-weight: 400;
}

.d-header {
  height: 6em;
}

.d-header #site-logo {
  height: 5.8em;
}

.d-header .header-buttons {
  margin-right: 70px;
}
